body{
    padding: 20px;
    background-color: #F4EAD5;
    font-family: "Eb Garamond", Merriweather, Anton, "Times New Roman";

}

img{
  width: 50%;
  height: auto;
  border: solid black;
  border-radius: 15px;
  border-width: 12px;
  padding: 5px;
  margin: 20px;
}

div img:nth-child(even){
  border-color: rgb(33, 63, 26);
}

h1{  color: black;
  font-weight: bold;
  font-size: 20pt;
  text-align: center;
  margin-top: 40px;

}
p{font-size: 12pt;
  line-height: 1.5;
  text-indent: 20px;
  text-align: left;
}

h2{font-size: 16pt; color: black;
  margin-top: 7px;
}

h3{
  font-weight: bold;
}
a{ color: black;
}

a:link {
  color: black;
}

a:hover {
  background-color: black;color:white;
}

nav ul li {
  display: inline;
  text-align: right;
  color: #f2f2f2;
  padding: 10px 15px 0px 10px;
  text-decoration: none;
  font-size: 17px;
}
nav a.current{
  text-decoration-line: underline;
  text-transform: capitalize;

}


