html{
  scroll-behavior: smooth;
}
body{
    padding: 20px;
    margin-top: 20px;
    background-color: #F4EAD5;
    background-image: radial-gradient(rgba(26, 63, 35, 0.507),#F4EAD5);
    font-family: "Eb Garamond", Merriweather, Anton, "Times New Roman";

}
.current{
  text-transform: uppercase;
  font-weight: 800;
}
.current:before{
  content:"";
}
.skip-link{
  position: absolute;
  left: -175px;
  background-color: #F4EAD5;
    padding: 10px;
    border: 2px solid;
    border-radius: 15px;
    -webkit-transition: top 1s ease-out;
    transition: left 1s ease-out;
    z-index: 1;
}
.grid{
    display: grid;
    grid-template-columns: 100%;
    column-gap: 75px;
    row-gap: 20px;
    margin: auto;
    width: 90%;
}

img{
  width: 90%;
  height: auto;
  border: solid black;
  border-radius: 15px;
  border-width: 12px;
  padding: 5px;
  margin:auto;
  margin-top: 20px;
  opacity: .7;
  transition: opacity 2s;
}

img:hover{
  opacity:1
}

div:nth-child(odd) img{
  border-color: rgb(33, 63, 26);
}

h1{  color: black;
  font-weight: bold;
  font-size: 20pt;
  text-align: center;
  margin-top: 40px;

}
p{font-size: 12pt;
  line-height: 1.5;
  text-indent: 20px;
  text-align: left;
}

h2{font-size: 16pt; color: black;
  margin-top: 10px;
  margin-bottom: 5px;
}

h3{
  font-weight: bold;
}
a{ color: black;
}

a:link {
  color: black;
}

a:hover {
  background-color: black;color:white;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: end;
}

nav ul li {
  display: inline;
  text-align: right;
  color: #f2f2f2;
  padding: 10px 15px 0px 10px;
  text-decoration: none;
  font-size: 17px;

}
nav a.current{
  text-decoration-line: underline;
  text-transform: capitalize;

}

.animate-character
{
   text-transform: none;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* animation: textclip 2s linear infinite; */
  display: inline-block;
      font-size: 75px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
@media screen and (prefers-reduced-motion: reduce){

  .animate-character{
     text-transform: none;
    background-image: linear-gradient(none
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: none;
    display: inline-block;
        font-size: 75px;
  }

}

@media screen and (min-width:650px) {
  .grid{
    grid-template-columns: 50% 50%;
    grid-row-gap: 30px;
  }

.animate-character{
  font-size: 190px;
  animation: textclip 2s linear infinite;

}
.skip-link:focus{
  left: 10px;
  position: relative;
  bottom: 20px;
}
.grid div{
  max-height: 600px;
  overflow: scroll;
}

  nav ul{
    flex-direction: row;
    justify-content: space-around;
  }
}
@media screen and (prefers-reduced-motion: reduce){
  img{
    transition: none;
  }
  html{
    scroll-behavior: auto; /* Removes scroll animation */
  }

  /*Turn off transition*/
  .skip-link{
    -webkit-transition: initial; /* sets to default setting */
    transition: initial; /* sets to default setting */
  }

}
dt{
  font-weight: bold;
  font-size: large;
  color: rgb(33, 63, 26);


}
dd{
  font-weight: bold;
}

dd p{
  margin-bottom: 20px;
}

hr{
  height: 1px;
  background-color: rgb(33, 63, 26);
  border: none;
}

main img{
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 45px;
}
.fa-copyright {
  font-size: 15px;
}

.container {
  display: grid;
  place-items: center;
  text-align: center;
  height: 100vh
}

.title {
  font-family: "Eb Garamond", sans-serif;
  font-weight: 800;
  font-size: 8.5vw;
  text-transform: uppercase;
}

