body{
    padding: 20px;
    background-color: #F4EAD5;
    font-family: "Eb Garamond", Merriweather, Anton, "Times New Roman";

}

main{
    display: grid;
    grid-template-columns: 100%;
    margin: auto;
    width: 90%;
}
img{
  width: 90%;
  height: auto;
  border: solid black;
  border-radius: 15px;
  border-width: 12px;
  padding: 5px;
  margin:auto;
  margin-top: 20px;
  opacity: .7;
}

img:hover{
  opacity:1
}

div:nth-child(odd) img{
  border-color: rgb(33, 63, 26);
}

h1{  color: black;
  font-weight: bold;
  font-size: 20pt;
  text-align: center;
  margin-top: 40px;

}
p{font-size: 12pt;
  line-height: 1.5;
  text-indent: 20px;
  text-align: left;
}

h2{font-size: 16pt; color: black;
  margin-top: 7px;
}

h3{
  font-weight: bold;
}
a{ color: black;
}

a:link {
  color: black;
}

a:hover {
  background-color: black;color:white;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: end;
}

nav ul li {
  display: inline;
  text-align: right;
  color: #f2f2f2;
  padding: 10px 15px 0px 10px;
  text-decoration: none;
  font-size: 17px;

}
nav a.current{
  text-decoration-line: underline;
  text-transform: capitalize;

}
@media screen and (min-width:650px) {
  main{
    grid-template-columns: 45% 45%;
  }

  nav ul{
    flex-direction: row;
    justify-content: space-around;
  }
}

